.blue{color:blue;}
.green{color: rgb(10, 146, 10);}
.button{button}
.bb{background-color:BLUE;}
.size{font-size:50px;}
.backp{background-image: url(sun2.jpg);heIght: 100% ;
background-position: Center;
background-repeat: no-repeat;
background-size: cOver;}
.BODY{height: 100%;}